:root {
  --color-nav: white;
  --color-primary: rgb(78, 78, 248);
  --color-primary-darker: rgb(78, 78, 248);
  --color-primary-opacity: rgba(78, 78, 248, 0.552);
  --gradient-primary: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-darker)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /*font-weight: 300;*/
  color: black;
  /*line-height: 1.9;*/
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: var(--color-nav);
  width: 100%;
  height: 4rem;
}

#nav-title {
  margin-left: 2rem;
}

.nav-links {
  margin-right: 2rem;
  list-style: none;
}

.nav-link {
  display: inline;
  padding: 0.25rem;
  text-decoration: none;
  color: var(--color-nav);
}

.nav-anchor {
  color: var(--color-nav);
  text-decoration: none;
}

.nav-anchor:hover {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

#pretty-font {
  font-family: "Dancing Script", sans-serif !important;
  color: var(--color-primary) !important;
  font-size: 120%;
}

.header {
  width: 100%;
  height: 100vh;
}

.main-page-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  height: calc(100vh - 4rem);
}

.intro {
  margin-left: 80px;
  width: 75%;
}

.main-page-img {
  display: grid;
  justify-items: center;
  align-items: center;
}

#header-img {
  border: transparent;
  border-radius: 10%;
  /*opacity: 0.5;*/
  box-shadow: 10px 10px 50px 20px var(--color-primary);
  width: 25rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

#main-page-intro-text {
  font-size: 2.5rem;
  /*align-items: start;
  justify-items: start;
  width: 50%;
  padding: 5rem;
  padding-bottom: 0;*/
}

/*#main-page-para {
  /*width: 50%;
  padding: 5rem;
  padding-top: 0;
  padding-bottom: 0;*/
  /*display: grid;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;*/
}*/

.btn {
  padding: 0;
  margin: 0;
  border: none;
}

#section1 {
  width: 100%;
  height: 100vh;
}

#section2 {
  width: 100%;
  height: 100vh;
}

#section3 {
  width: 100%;
  height: 100vh;
}
